
TestAuthentication/.vs/TestAuthentication/FileContentIndex/80fb3780-e457-4888-a507-098b547e8ad8.vsidx
TestAuthentication/.vs/TestAuthentication/FileContentIndex/bc527112-3e56-4ec7-acba-74e93c08bb9f.vsidx
TestAuthentication/.vs/TestAuthentication/FileContentIndex/bcdf3562-cc29-40fe-adf1-3f98344175de.vsidx
TestAuthentication/.vs/TestAuthentication/FileContentIndex/c941fce0-a290-4f2b-ab4e-8d88481f0167.vsidx
TestAuthentication/.vs/TestAuthentication/v17/.suo
TestAuthentication/.vs/TestAuthentication/v17/DocumentLayout.backup.json
TestAuthentication/.vs/TestAuthentication/v17/DocumentLayout.json
TestAuthentication/obj/Debug/TestAuthentication.csproj.AssemblyReference.cache
TestAuthentication/.vs/TestAuthentication/FileContentIndex/a6eca3cf-aa74-4d4c-b1a4-aabf06f2fa9d.vsidx
TestAuthentication/.vs/TestAuthentication/FileContentIndex/661528d3-0453-48e6-89a6-641a07b8adf6.vsidx
