
TestAuthentication/obj/Debug/TestAuthentication.csproj.AssemblyReference.cache
TestAuthentication/.vs/TestAuthentication/v17/.suo
TestAuthentication/.vs/TestAuthentication/FileContentIndex/e1bcbf28-f54b-4bc8-a22b-c0d15a45cc1f.vsidx
TestAuthentication/.vs/TestAuthentication/FileContentIndex/c941fce0-a290-4f2b-ab4e-8d88481f0167.vsidx
TestAuthentication/.vs/TestAuthentication/FileContentIndex/bc527112-3e56-4ec7-acba-74e93c08bb9f.vsidx
TestAuthentication/.vs/TestAuthentication/FileContentIndex/a6eca3cf-aa74-4d4c-b1a4-aabf06f2fa9d.vsidx
TestAuthentication/.vs/TestAuthentication/FileContentIndex/2dcd2f3c-b52f-4f8c-93d6-d022b8f33fa2.vsidx
TestAuthentication/.vs/TestAuthentication/FileContentIndex/f8090cc4-daec-4352-b0db-025e3b979de1.vsidx
TestAuthentication/.vs/TestAuthentication/FileContentIndex/547a8953-e81a-4d74-9ccc-2b7418a5f269.vsidx
TestAuthentication/.vs/TestAuthentication/FileContentIndex/2f97aa98-1adb-4480-83fe-8fa6542473a5.vsidx
TestAuthentication/.vs/TestAuthentication/FileContentIndex/39df771e-3f15-4c29-915d-66b36c4f78f4.vsidx
TestAuthentication/.vs/TestAuthentication/FileContentIndex/44145fa2-dab2-41c3-b8e3-8141ee7d3fb0.vsidx
